* {
    text-align: center;
}

div {
    padding: 20px;
}

input {
    margin-bottom: 10px;
}

button {
    margin: 10px;
}

table {
    margin: auto;
    margin-top:30px;
    border: 1px solid;
    padding: 10px;
}

th {
    border-bottom: 1px solid;
    min-width: 100px;
}

tr td {
    padding: 10px;
}
